<!-- Favicon -->
<link href="/assets/img/favicon.ico" rel="icon">

<!-- Google Web Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700;900&display=swap" rel="stylesheet"> 

<!-- Icon Font Stylesheet -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">


<!-- Libraries Stylesheet -->
<link href="src/lib/animate/animate.min.css" rel="stylesheet">
<link href="src/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="src/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

<!-- Customized Bootstrap Stylesheet -->
<link href="src/css/bootstrap.min.css" rel="stylesheet">

<!-- Template Stylesheet -->
<link href="src/styles.css" rel="stylesheet">


<!-- Topbar Start -->
<div class="container-fluid bg-light p-0 wow fadeIn" data-wow-delay="0.1s" [@fadeAnimation]="animationState">
    <div class="row gx-0">
       <div class="col-lg-7 px-5 text-start">
          <div class="h-100 d-inline-flex align-items-center py-3 me-4">
             <small class="fa fa-map-marker-alt text-primary me-2"></small>
             <small>Kigamboni-Ferry, Dar es Salaam, TANZANIA</small>
          </div>
          <div class="h-100 d-inline-flex align-items-center py-3">
             <small class="far fa-clock text-primary me-2"></small>
             <small>Mon - Sat : 08.00 AM - 05.00 PM</small>
          </div>
       </div>
       <div class="col-lg-5 px-5 text-end">
          <div class="h-100 d-inline-flex align-items-center py-3 me-4">
             <a href="tel:+255747143139" class="text-decoration-none text-reset">
                <small class="fa fa-phone-alt text-primary me-2"></small>
                <small>+255 747 143 139</small>
             </a>
          </div>
          <div class="h-100 d-inline-flex align-items-center">
             <a class="btn btn-sm-square rounded-circle bg-white text-primary me-1" href="https://www.facebook.com/profile.php?id=61570015242222"><i class="fab fa-facebook-f"></i></a>
             <a class="btn btn-sm-square rounded-circle bg-white text-primary me-0" href="https://www.instagram.com/monacoseptic/"><i class="fab fa-instagram"></i></a>
             <a class="btn btn-sm-square rounded-circle bg-white text-primary me-0" href="https://wa.me/255747143139" target="_blank" rel="noopener noreferrer"><i class="fab fa-whatsapp"></i></a>
          </div>
       </div>
    </div>
 </div>
 <!-- Topbar End -->
 

<!-- Loading Overlay -->
<div class="loading-overlay" [class.fade-out]="!animationState">
    <div class="spinner-grow text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<!-- Hero Section -->
<div class="container-fluid p-0" [@fadeAnimation]="animationState">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <!-- <img class="img-fluid" src="/assets/img/shimo1.jpg" alt="Hero Image"> -->
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 0, 0, 0.7);">
                <div class="container" [@slideInAnimation]="animationState">
                    <!-- <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h5 class="text-white text-uppercase mb-3 animated slideInDown">Karibu  SEPTIC TANKS</h5>
                            <h1 class="display-3 text-white animated slideInDown mb-4">Tunajenga Septic Tank Bora na za Kisasa</h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-2">Tunatengeneza septic tank za kisasa na salama kwa nyumba na biashara.</p>
                            <a routerLink="/contact" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Wasiliana Nasi</a>
                            <a routerLink="/about" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Kuhusu Sisi</a>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid header bg-primary p-0 mb-5" [@fadeAnimation]="animationState">
    <div class="row g-0 align-items-center flex-column-reverse flex-lg-row">
        <div class="col-lg-6 p-5 wow fadeIn" [@slideInAnimation]="animationState">
        <h1 class="display-4 text-white mb-5">Professional Septic Tank Construction</h1>
        <div class="row g-4">
          <div class="col-sm-4">
            <div class="border-start border-light ps-4">
              <h2 class="text-white mb-1">8+</h2>
              <p class="text-light mb-0">Years Experience</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="border-start border-light ps-4">
              <h2 class="text-white mb-1">212+</h2>
              <p class="text-light mb-0">Completed Projects</p>
            </div>
          </div>
        </div>
      </div>
        <div class="col-lg-6 wow fadeIn" [@slideInAnimation]="animationState">
        <div class="owl-carousel header-carousel">
          <div class="owl-carousel-item">
                    <img class="img-fluid" src="/assets/img/tank3.jpg" loading="lazy" alt="Installation">
          </div>
        </div>
      </div>
    </div>
  </div>

      <!-- Header Start -->
      <!-- <div class="container-fluid header bg-primary p-0 mb-5">
        <div class="row g-0 align-items-center flex-column-reverse flex-lg-row">
            <div class="col-lg-6 p-5 wow fadeIn" data-wow-delay="0.1s">
                <h1 class="display-4 text-white mb-5">Good Health Is The Root Of All Heppiness</h1>
                <div class="row g-4">
                    <div class="col-sm-4">
                        <div class="border-start border-light ps-4">
                            <h2 class="text-white mb-1" data-toggle="counter-up">123</h2>
                            <p class="text-light mb-0">Expert Doctors</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="border-start border-light ps-4">
                            <h2 class="text-white mb-1" data-toggle="counter-up">1234</h2>
                            <p class="text-light mb-0">Medical Stuff</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="border-start border-light ps-4">
                            <h2 class="text-white mb-1" data-toggle="counter-up">12345</h2>
                            <p class="text-light mb-0">Total Patients</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="owl-carousel header-carousel">
                    <div class="owl-carousel-item position-relative">
                        <img class="img-fluid" src="/assets/img/shimo1.jpg" alt="">
                        <div class="owl-carousel-text">
                            <h1 class="display-1 text-white mb-0">Cardiology</h1>
                        </div>
                    </div>
                    <div class="owl-carousel-item position-relative">
                        <img class="img-fluid" src="/assets/img/shimo1.jpg" alt="">
                        <div class="owl-carousel-text">
                            <h1 class="display-1 text-white mb-0">Neurology</h1>
                        </div>
                    </div>
                    <div class="owl-carousel-item position-relative">
                        <img class="img-fluid" src="/assets/img/shimo1.jpg" alt="">
                        <div class="owl-carousel-text">
                            <h1 class="display-1 text-white mb-0">Pulmonary</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Header End -->

   <!-- About Start -->
   <div class="container-xxl py-5" [@fadeAnimation]="animationState">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeIn" [@slideInAnimation]="animationState">
                <div class="d-flex flex-column">
                    <img class="img-fluid rounded w-75 align-self-end" src="/assets/img/tank1.jpg" alt="Septic Tank Installation">
                    <img class="img-fluid rounded w-50 bg-white pt-3 pe-3" src="/assets/img/tank4.jpg" alt="Septic Tank Work">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" [@slideInAnimation]="animationState">
                <p class="d-inline-block border rounded-pill py-1 px-4">About Us</p>
                <h1 class="mb-4">Why You Should Trust Us? Get Know About Us!</h1>
                <p>MONACO SEPTIC TANKS tunatoa Hudumu ya ujenzi wa mashimo ya vyoo vya kisasa ni vyoo Bora na salama Kwa matumizi ya kila mtanzania
                  </p>
                <p class="mb-4">Sifa za vyoo vya kisasa.</p>
                <p><i class="far fa-check-circle text-primary me-3"></i>Ni Imara na vina ubora wa Hali ya juu.</p>
                <p><i class="far fa-check-circle text-primary me-3"></i>ujenzi wake Hutumia eneo dogo</p>
                <p><i class="far fa-check-circle text-primary me-3"></i>Ni rafiki Kwa mazingira (Havitoi harufu mbaya)</p>
                <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" routerLink="/about">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
  
  <!-- Services Section -->
  <div class="container-xxl py-5" [@fadeAnimation]="animationState">
    <div class="container">
      <div class="text-center mx-auto mb-5 service-title-container">
        <p class="d-inline-block border rounded-pill py-1 px-4">Services</p>
        <h1 class="display-6 mb-4">Our Construction Services</h1>
      </div>
      <div class="row g-4" [@staggerAnimation]>
        <div class="col-lg-4 col-md-6" *ngFor="let service of services">
          <div class="service-item bg-light rounded h-100 p-5">
            <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4 service-icon">
              <i class="fa fa-tools text-primary fs-4"></i>
            </div>
            <h4 class="mb-3">{{service.title}}</h4>
            <p class="mb-4">{{service.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Feature Start -->
    <div class="container-fluid bg-primary overflow-hidden my-5 px-lg-0" [@fadeAnimation]="animationState">
      <div class="container feature px-lg-0">
          <div class="row g-0 mx-lg-0">
              <div class="col-lg-6 feature-text py-5 wow fadeIn" [@slideInAnimation]="animationState">
                  <div class="p-lg-5 ps-lg-0">
                      <p class="d-inline-block border rounded-pill text-light py-1 px-4">Features</p>
                      <h1 class="text-white mb-4">Why Choose Us</h1>
                      <p class="text-white mb-4 pb-2">Kwa uzoefu wa zaidi ya miaka 8 katika huduma hii, tunachanganya ustadi wa kuthibitishwa, teknolojia ya kisasa, na juhudi kwa ajili ya matokeo ya kudumu. Mbinu zetu zinazokuzingatia wewe huhakikisha mawasiliano ya wazi, suluhisho maalum, na usaidizi wa kila wakati, huku tukizingatia viwango vya usalama na mazoea ya kuhifadhi mazingira. Tunatimiza miradi kwa wakati, ndani ya bajeti, na kwa uzoefu —kwa sababu amani yako ni kipaumbele chetu. Kwa bei shindani, kiwango cha kuridhika kwa wateja 98%, na rekodi ya utataifa, sisi ni chaguo lako la uhakika kwa ubora bila kikomo. Wasiliana nasi leo!</p>
                      <div class="row g-4">
                          <div class="col-6">
                              <div class="d-flex align-items-center">
                                  <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light" style="width: 55px; height: 55px;">
                                      <i class="fa fa-user-md text-primary"></i>
                                  </div>
                                  <div class="ms-4">
                                      <p class="text-white mb-2">Experience</p>
                                      <h5 class="text-white mb-0">Constructors</h5>
                                  </div>
                              </div>
                          </div>
                          <div class="col-6">
                              <div class="d-flex align-items-center">
                                  <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light" style="width: 55px; height: 55px;">
                                      <i class="fa fa-check text-primary"></i>
                                  </div>
                                  <div class="ms-4">
                                      <p class="text-white mb-2">Quality</p>
                                      <h5 class="text-white mb-0">Services</h5>
                                  </div>
                              </div>
                          </div>
                          <div class="col-6">
                              <div class="d-flex align-items-center">
                                  <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light" style="width: 55px; height: 55px;">
                                      <i class="fa fa-comment-medical text-primary"></i>
                                  </div>
                                  <div class="ms-4">
                                      <p class="text-white mb-2">Positive</p>
                                      <h5 class="text-white mb-0">Consultation</h5>
                                  </div>
                              </div>
                          </div>
                          <div class="col-6">
                              <div class="d-flex align-items-center">
                                  <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light" style="width: 55px; height: 55px;">
                                      <i class="fa fa-headphones text-primary"></i>
                                  </div>
                                  <div class="ms-4">
                                      <p class="text-white mb-2">24 Hours</p>
                                      <h5 class="text-white mb-0">Support</h5>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
              <div class="col-lg-6 pe-lg-0" [@slideInAnimation]="animationState">
                  <div class="position-relative h-100">
                      <img class="position-absolute img-fluid w-100 h-100" src="/assets/img/tank5.jpg" style="object-fit: cover;" alt="Feature Image">
                  </div>
                </div>
            </div>
        </div>
    </div>
  <!-- Feature End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="src/lib/wow/wow.min.js"></script>
  <script src="src/lib/easing/easing.min.js"></script>
  <script src="src/lib/waypoints/waypoints.min.js"></script>
  <script src="src/lib/counterup/counterup.min.js"></script>
  <script src="src/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="src/lib/tempusdominus/js/moment.min.js"></script>
  <script src="src/lib/tempusdominus/js/moment-timezone.min.js"></script>
  <script src="src/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

  <!-- Template Javascript -->
  <script src="src/js/main.js"></script>